<%= form_for(lead) do |f| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :entry_number %>
    <%= f.text_field :entry_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :filing_date %>
    <%= f.date_select :filing_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :deceased %>
    <%= f.text_field :deceased, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :heir %>
    <%= f.text_field :heir, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contact_info %>
    <%= f.text_field :contact_info, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :assessed_value %>
    <%= f.text_field :assessed_value, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zillow_value %>
    <%= f.text_field :zillow_value, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
