<p id="notice"><%= notice %></p>

<h1>Parcels</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Address</th>
      <th>Acres</th>
      <th>Land value</th>
      <th>Building value</th>
      <th>Total value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.number %></td>
        <td><%= parcel.address %></td>
        <td><%= parcel.acres %></td>
        <td><%= parcel.land_value %></td>
        <td><%= parcel.building_value %></td>
        <td><%= parcel.total_value %></td>
        <td><%= link_to 'Show', parcel %></td>
        <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parcel', new_parcel_path %>
