<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @parcel.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parcel.address %>
</p>

<p>
  <strong>Acres:</strong>
  <%= @parcel.acres %>
</p>

<p>
  <strong>Land value:</strong>
  <%= @parcel.land_value %>
</p>

<p>
  <strong>Building value:</strong>
  <%= @parcel.building_value %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @parcel.total_value %>
</p>

<%= link_to 'Edit', edit_parcel_path(@parcel) %> |
<%= link_to 'Back', parcels_path %>
