<%= link_to 'Back', notice_of_default_leads_path %>
<div class="row">
  <div class="col-sm-3 well well-sm"><%= render 'death_certificate_leads/details' %></div>
  <div class="col-sm-9"><%= render 'death_certificate_leads/parcel' %></div>
</div>

<%= link_to 'Edit', edit_death_certificate_lead_path(@lead) %> |
<%= link_to 'Back', death_certificate_leads_path %>
