<p id="notice"><%= notice %></p>

<p>
  <strong>Entry number:</strong>
  <%= @lead.entry_number %>
</p>

<p>
  <strong>Filing date:</strong>
  <%= @lead.filing_date %>
</p>

<p>
  <strong>Deceased:</strong>
  <%= @lead.deceased %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lead.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @lead.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @lead.zip %>
</p>

<p>
  <strong>Heir:</strong>
  <%= @lead.heir %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @lead.contact_info %>
</p>

<p>
  <strong>Assessed value:</strong>
  <%= @lead.assessed_value %>
</p>

<p>
  <strong>Zillow value:</strong>
  <%= @lead.zillow_value %>
</p>