<%= form_tag(send_letter_lead_path(@letter), id: 'send-letter-form') do %>
  <%= @letter.html.html_safe %>
  <hr />
  <h2> Please verify the following information </h2>
  <%= hidden_field_tag :html, @letter.html %>
  <div class='form-group'>
    <%= label_tag :date, '{{date}}' %>
    <%= text_field_tag :date, @letter.date, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag :name, '{{name}}' %>
    <%= text_field_tag :name, @letter.name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag :deceased, '{{deceased}}' %>
    <%= text_field_tag :deceased, @letter.deceased, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag :address, '{{address}}' %>
    <%= text_field_tag :address, @letter.address, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag :city, '{{city}}' %>
    <%= text_field_tag :city, @letter.city, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag :state, '{{state}}' %>
    <%= text_field_tag :state, @letter.state, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag :zip, '{{zip}}' %>
    <%= text_field_tag :zip, @letter.zip, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag :country %>
    <%= text_field_tag :country, @letter.country, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= submit_tag "Send to Lob", id: 'send-letter-lob', class: 'btn btn-primary' %>
  </div>

<% end %>