<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DealFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class='container'>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
